* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #FFFFFF;
}

* {
    scrollbar-width: thin;
    scrollbar-color: #6470ca #0c1139;
}

*::-webkit-scrollbar {
    width: 8px;
}

*::-webkit-scrollbar-track {
    background: #676767;
}

*::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 20px;
    border: 3px solid #676767;
}

body,
input,
textarea,
select,
button {
    font: 400 1rem sans-serif;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 1080px) {
    html {
        font-size: 93.75%;
    }
}

@media (max-width: 720px) {
    html {
        font-size: 87.5%;
    }
}