.contentContainer {
    max-width: 1120px;
    margin: 0 auto;
    padding: 0.2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        margin-top: 2rem;
        height: auto;
        width: auto;
    }
}

.callToAction {
    max-width: 700px;

    h1 {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        text-align: center;
        color: #121a29;
    }

    p {
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
        color: #121a29;

        span {
            color: #04dd75;
            font-weight: bold;
        }
    }
}