.contentContainer {
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    img {
        margin-top: 2rem;
        height: auto;
        width: 30%;
    }
}

.callToAction {
    max-width: 700px;

    h1 {
        font-size: 1.2rem;
        margin-top: 1rem;
        font-weight: bold;
        text-align: center;
        color: #121a29;
    }

    p {
        margin-top: 1rem;
        font-size: 1rem;
        text-align: center;
        color: #121a29;
        word-wrap: break-word;

        span {
            color: #04dd75;
            font-weight: bold;
        }
    }
}